{
	"parser": "@typescript-eslint/parser",
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
	"plugins": ["@typescript-eslint", "prettier"],
	"rules": {
		"semi": ["error", "always"],
		"comma-dangle": ["error", "never"],
		"prefer-template": ["error"],
		"object-curly-spacing": ["error", "always"],
		"no-console": ["error"],
		"eol-last": ["error", "always"],
		"@typescript-eslint/no-explicit-any": ["off", { "fixToUnknown": false }]
	}
}
