{
	"singleQuote": true,
	"semi": true,
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 120,
	"bracketSpacing": true,
	"proseWrap": "preserve",
	"overrides": [
		{
			"files": "*.ts",
			"options": {
				"parser": "typescript"
			}
		}
	],
	"arrowParens": "avoid",
	"experimentalTernaries": true
}
